body {
  margin: 0;
  background: #F2F4F4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 24px;
  margin: auto;
}

.cards-container {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 0 24px;
}

@media only screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 320px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-gap: 24px;
  padding: 24px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 #0000000A;
  transition: box-shadow 300ms;
}

.card:hover {
  box-shadow: 0 5px 15px 0 #0000001A;
}

.title {
  margin: 0 0 24px;
}

.image {
  max-width: 100%;
}

.input {
  border-radius: 6px;
  margin: 0 0 24px;
  padding: 8px;
  border: 1px solid #0000001A;
}
